@font-face {
  font-family: "Oranienbaum";
  src: url("./assets/fonts/oranienbaum/Oranienbaum.ttf");
  src: url("./assets/fonts/oranienbaum/Oranienbaum.ttf") format("truetype");
}
@font-face {
  font-family: "onelove";
  src: url("./assets/fonts/onelove/onelove.ttf");
  src: url("./assets/fonts/onelove/onelove.ttf") format("truetype"),
    url("./assets/fonts/onelove/onelove.otf") format("opentype");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("./assets/fonts/Poppins/Poppins-Bold.ttf");
  src: url("./assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf");
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins-Light";
  src: url("./assets/fonts/Poppins/Poppins-Light.ttf");
  src: url("./assets/fonts/Poppins/Poppins-Light.ttf") format("truetype");
}
@font-face {
  font-family: "AddingtonCF-Bold";
  src: url("./assets/fonts/Addington-CF/AddingtonCF-Bold.ttf");
  src: url("./assets/fonts/Addington-CF/AddingtonCF-Bold.ttf")
      format("truetype"),
    url("./assets/fonts/Addington-CF/AddingtonCF-Bold.otf") format("opentype");
}
@font-face {
  font-family: "AddingtonCF-Extrabold";
  src: url("./assets/fonts/Addington-CF/AddingtonCF-ExtraBold.ttf");
  src: url("./assets/fonts/Addington-CF/AddingtonCF-ExtraBold.ttf")
      format("truetype"),
    url("./assets/fonts/Addington-CF/AddingtonCF-ExtraBold.otf")
      format("opentype");
}
@font-face {
  font-family: "AddingtonCF-Light";
  src: url("./assets/fonts/Addington-CF/AddingtonCF-Light.ttf");
  src: url("./assets/fonts/Addington-CF/AddingtonCF-Light.ttf")
      format("truetype"),
    url("./assets/fonts/Addington-CF/AddingtonCF-Light.otf") format("opentype");
}
@font-face {
  font-family: "AddingtonCF-Lightitalic";
  src: url("./assets/fonts/Addington-CF/AddingtonCF-LightItalic.ttf");
  src: url("./assets/fonts/Addington-CF/AddingtonCF-LightItalic.ttf")
      format("truetype"),
    url("./assets/fonts/Addington-CF/AddingtonCF-LightItalic.otf")
      format("opentype");
}
@font-face {
  font-family: "AddingtonCF-Regular";
  src: url("./assets/fonts/Addington-CF/AddingtonCF-Regular.ttf");
  src: url("./assets/fonts/Addington-CF/AddingtonCF-Regular.ttf")
      format("truetype"),
    url("./assets/fonts/Addington-CF/AddingtonCF-Regular.otf")
      format("opentype");
}
@font-face {
  font-family: "AddingtonCF-Regularitalic";
  src: url("./assets/fonts/Addington-CF/AddingtonCF-RegularItalic.ttf");
  src: url("./assets/fonts/Addington-CF/AddingtonCF-RegularItalic.ttf")
      format("truetype"),
    url("./assets/fonts/Addington-CF/AddingtonCF-RegularItalic.otf")
      format("opentype");
}

:root {
  /* Font family */
  --ff-heading-primary: "Oranienbaum", serif;
  --ff-heading-primary-2: "AddingtonCF-Regular", serif;
  --ff-heading-primary-2-italic: "AddingtonCF-Regularitalic", serif;
  --ff-heading-primary-2-bold: "AddingtonCF-Bold", serif;
  --ff-heading-primary-2-extrabold: "AddingtonCF-Extrabold", serif;
  --ff-heading-primary-2-light: "AddingtonCF-Light", serif;
  --ff-heading-primary-2-light-italic: "AddingtonCF-Lightitalic", serif;

  --ff-heading-secondary: "onelove", "Brush Script MT", serif;
  --ff-body-bold: "Poppins-Bold", sans-serif;
  --ff-body-regular: "Poppins-Regular", sans-serif;
  --ff-body-light: "Poppins-Light", sans-serif;

  /* Colors */
  --clr-primary-dark: #080808;
  --clr-primary-dark-100: #1b1b1b;
  --clr-primary-dark-200: #242323;
  --clr-primary-dark-300: #313131;
  --clr-primary-dark-400: #4b4a4a;
  --clr-primary-dark-500: #525151;
  --clr-primary-glass: rgba(0, 0, 0, 0.8);
  --clr-secondary-000: #ffffff;
  --clr-secondary-100: #ecf1f7;
  --clr-secondary-200: #d4d3d3;
  --clr-secondary-300: #b0b3b2;
  --clr-secondary-400: #a1a1a1;
  --clr-secondary-500: #666565;
  --clr-secondary-600: #4d4c4c;
  --clr-secondary-700: #303030;

  --clr-accent-lights: #b97508;
  --clr-accent-lights-100: #ffae00;

  --clr-accent-water: #0066ff;
  --clr-accent-water-100: #00b7ff;

  --clr-accent-summit: #53a19b;
  --clr-accent-summit-100: #8ee0c8;

  --clr-accent-history: #946b2d;
  --clr-accent-history-100: #b49367;

  --clr-accent-culture: #169b1b;
  --clr-accent-culture-100: #14cf29;

  --clr-accent-valid: #36ca3b;
  --clr-accent-valid-100: #318b3b;

  --clr-accent-loading: #bea511;
  --clr-accent-loading-100: #ecc40e;

  --clr-accent-invalid: #bd0000;
  --clr-accent-invalid-100: #b81c1c;

  --clr-status-waitlist: rgba(255, 231, 126, 0.8);
  --clr-status-confirmed: rgba(126, 240, 255, 0.8);
  --clr-status-successful: rgba(141, 255, 126, 0.8);
  --clr-status-tentative: rgba(227, 255, 126, 0.8);
  --clr-status-cancelled: rgba(255, 181, 181, 0.8);

  /* Font Size */
  --fz--header-title: clamp(0.5rem, 0.9vw, 0.7rem);
  --fz--header-sub: clamp(2rem, 10vw, 3rem);
  --fz--header-menu: clamp(0.8rem, 6vw, 2.5rem);
  --fz--header-cat-title: 20vw;
  --fz--header-cat-list: clamp(1rem, 1.5vw, 2rem);

  --fz-main-h1: clamp(2rem, 7vw, 6rem);
  --fz-main-h2: clamp(1.5rem, 4vw, 4rem);
  --fz-main-h3: clamp(1.2rem, 2vw, 2.5rem);
  --fz-main-secondary: clamp(2.5rem, 7vw, 7rem);
  --fz-main-p: clamp(0.8rem, 1.3vw, 1.5rem);
  --fz-main-text: clamp(0.7rem, 1vw, 1rem);
  --fz-main-large: clamp(1rem, 5vw, 5rem);
  --fz-main-small: clamp(0.6rem, 0.9vw, 1.3rem);
}

html {
  scroll-behavior: smooth;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: var(--clr-primary-dark);
  scroll-behavior: smooth;
}

body.disableScroll {
  overflow: hidden;
}

/* temporary style */
main {
  min-height: 100vh;
}
/* temporary style */

.body-wrapper {
  /* overflow: hidden; */
  z-index: 1;
}

#signUpModal {
  z-index: 999999;
}

/* Utility classes */

/* m-heading-2-dark --> h2-dark*/
.h2-dark {
  font-family: var(--ff-heading-primary-2-light);
  color: var(--clr-primary-dark);
  font-size: var(--fz-main-h2);
  letter-spacing: 0.8px;
}

.h2-light {
  font-family: var(--ff-heading-primary-2-light);
  color: var(--clr-secondary-100);
  font-size: var(--fz-main-h2);
  letter-spacing: 0.8px;
}

/* m-heading-3-dark --> h3-dark */
.h3-dark {
  font-family: var(--ff-heading-primary-2);
  color: var(--clr-primary-dark);
  font-size: var(--fz-main-h3);
}

.h3-light {
  font-family: var(--ff-heading-primary-2);
  color: var(--clr-secondary-100);
  font-size: var(--fz-main-h3);
}

/* m-heading-3-dark-2 --> h3-dark-bold */
.h3-dark-bold {
  font-family: var(--ff-heading-primary-2-bold);
  color: var(--clr-primary-dark);
  font-size: var(--fz-main-h3);
}

.h3-light-bold {
  font-family: var(--ff-heading-primary-2-bold);
  color: var(--clr-secondary-100);
  font-size: var(--fz-main-h3);
}

/* m-paragraph-text-dark --> p-dark */
.p-dark {
  font-family: var(--ff-body-light);
  color: var(--clr-secondary-700);
  font-size: var(--fz-main-p);
}

.p-light {
  font-family: var(--ff-body-light);
  color: var(--clr-secondary-100);
  font-size: var(--fz-main-p);
}

/* m-primary-btn-dark --> cta-dark */
.cta-dark {
  transition: background-color 200ms ease-in-out, box-shadow 200ms ease-in-out;
  font-family: var(--ff-body-light);
  color: var(--clr-secondary-100);
  font-size: var(--fz-main-text);
  background-color: var(--clr-primary-dark);
  letter-spacing: 1px;
  padding: 0.8rem 1.5rem;
  border: none;
  outline: none;
}

.cta-dark:hover,
.cta-dark:active {
  background-color: var(--clr-primary-dark-100);
}

.cta-light {
  transition: background-color 200ms ease-in-out, box-shadow 200ms ease-in-out;
  font-family: var(--ff-body-light);
  color: var(--clr-primary-dark);
  font-size: var(--fz-main-text);
  background-color: var(--clr-secondary-100);
  letter-spacing: 1px;
  padding: 0.8rem 1.5rem;
  border: none;
  outline: none;
}

.cta-light:hover,
.cta-light:active {
  background-color: var(--clr-secondary-400);
}

/* m-primary-link-dark --> anchor-dark */
.anchor-dark {
  transition: color 400ms ease-in-out;
  font-family: var(--ff-body-regular);
  color: var(--clr-secondary-700);
  font-size: var(--fz-main-text);
  border: none;
  outline: none;
  text-decoration: none;
  background-color: transparent;
}

.anchor-dark:hover,
.anchor-dark:active {
  color: var(--clr-secondary-500);
}

.anchor-light {
  transition: color 400ms ease-in-out;
  font-family: var(--ff-body-regular);
  color: var(--clr-secondary-100);
  font-size: var(--fz-main-text);
  border: none;
  outline: none;
  text-decoration: none;
}

.anchor-light:hover,
.anchor-light:active {
  color: var(--clr-secondary-300);
}

/* CUSTOM SCROLLBAR FOR OVERFLOWING MODAL */
div.modal {
  overflow-y: scroll;
}

/* width */
div.modal::-webkit-scrollbar {
  width: 1px;
}

/* Track */
div.modal::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
div.modal::-webkit-scrollbar-thumb {
  background: var(--clr-secondary-200);
}

/* Handle on hover */
div.modal::-webkit-scrollbar-thumb:hover {
  background: var(--clr-secondary-300);
}

/* Style calender icon on date inpur fields */
input[type="date"]::-webkit-calendar-picker-indicator {
  font-size: 1rem;
  background-color: var(--clr-secondary-100);
  border-radius: 3px;
  padding: 1px;
  margin-top: -15px;
}

/* --- FOR DEBUGGING --- */
.debug-this,
.debug-all,
.debug-all *,
.debug-child > * {
  border: 0.5px solid red;
}
