.user-page__container {
  z-index: 5;
  font-family: var(--ff-body-regular);
}

.user-page-sidebar__container {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.user-page-sidebar__avatar {
  border-radius: 1rem;
  box-shadow: 1px 1px 2px var(--clr-primary-glass);
}

.user-page-sidebar__username {
  font-size: var(--fz-main-text);
}

.user-page-sidebar__role {
  font-size: var(--fz-main-small);
}

.user-page-sidebar__role span {
  background-color: var(--clr-primary-glass);
  color: var(--clr-secondary-100);
}

.user-page-sidebar__item {
  background-color: var(--clr-primary-glass);
  color: var(--clr-secondary-100);
  border-radius: 1rem;
  cursor: pointer;
}

.user-page-sidebar__item:hover {
  background-color: var(--clr-primary-dark-300);
}

.user-page-sidebar__item.isActive {
  background-color: var(--clr-primary-dark-400);
}

.user-page-sidebar__bottom {
  background-color: var(--clr-secondary-500);
  color: var(--clr-secondary-100);
  border-radius: 1rem;
}

.user-page-sidebar__bottom > div {
  background-color: var(--clr-secondary-700);
  color: var(--clr-secondary-100);
  border-radius: 0.7rem;
  cursor: pointer;
}

.user-page-sidebar__bottom > div:hover {
  background-color: var(--clr-secondary-600);
}

.user-page-topnav__greeting h2 {
  font-family: var(--ff-body-bold);
  font-size: calc(var(--fz-main-h2) / 1.5);
}

.user-page-topnav__logout {
  font-size: var(--fz-main-h3);
  color: var(--clr-primary-dark-100);
  cursor: pointer;
}

.user-page-topnav__logout:hover {
  color: var(--clr-primary-dark-300);
}

.user-page-topnav__search button {
  background-color: var(--clr-primary-glass);
  color: var(--clr-secondary-100);
}

.user-page-topnav__search button:hover,
.user-page-topnav__search button:active {
  background-color: var(--clr-primary-dark-300) !important;
  color: var(--clr-secondary-100) !important;
}

.user-page-home__card {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  border-radius: 2rem;
}

.user-page-home__content {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  border-radius: 2rem;
}

.user-page-home__content h2 {
  font-family: var(--ff-body-bold);
}

.user-page-bookings__button {
  background-color: var(--clr-primary-glass);
  color: var(--clr-secondary-100);
  border: none;
  outline: none;
  font-family: var(--ff-body-regular);
  font-size: var(--fz-main-p);
  border-radius: 1rem;
}

.user-page-bookings__button:hover {
  background-color: var(--clr-primary-dark-300);
}
