.booking-form__content p {
  font-family: var(--ff-body-light);
  font-size: var(--fz-main-text);
  color: var(--clr-secondary-100);
}

.booking-form__content p span {
  font-family: var(--ff-body-regular);
  font-weight: 600;
}

.booking-form-details__container {
  border-radius: 1rem;
}
