.home-stories__wrapper {
  /* min-height: 10rem; */
  background-color: rgb(19, 159, 214);
}
/* 
@media (min-width: 1200px) {
  .home-stories__wrapper {
    min-height: 120rem;
  }
}

@media (min-width: 992px) {
  .home-stories__wrapper {
    min-height: 80rem;
  }
}

@media (min-width: 576px) {
  .home-stories__wrapper {
    min-height: 50rem;
  }
} */

.home-stories-cloudImg__top {
  top: -1px;
  height: 50vw;
  transform: rotate(180deg);
}

.home-stories-quote img {
  z-index: 1;
  width: 100%;
}

.home-stories-quote__open,
.home-stories-quote__close {
  width: 8%;
  z-index: 9;
}

.home-stories-quote__open {
  margin-bottom: -8%;
}

.home-stories-quote__close {
  margin-top: -8%;
}

.home-stories-quote__close img {
  transform: rotate(180deg);
}

.home-stories-quote p {
  z-index: 1;
  color: var(--clr-primary-dark);
  font-family: var(--ff-heading-primary-2-italic);
  font-size: calc(var(--fz-main-h2) / 1.3);
}

.home-stories-quote span {
  color: var(--clr-primary-dark);
  font-family: var(--ff-body-regular);
  font-size: var(--fz-main-p);
}

.home-stories-content {
  min-height: 30rem;
}

@media (min-width: 576px) {
  .home-stories-content {
    min-height: 40rem;
  }
}

@media (min-width: 768px) {
  .home-stories-content {
    min-height: 50rem;
  }
}

@media (min-width: 992px) {
  .home-stories-content {
    min-height: 60rem;
  }
}

@media (min-width: 1200px) {
  .home-stories-content {
    min-height: 70rem;
  }
}

.home-stories__title {
  font-family: var(--ff-heading-primary-2);
  color: var(--clr-primary-dark);
  font-size: calc(var(--fz-main-h2) / 1.5);
  letter-spacing: 0.8px;
}

.home-stories__description {
  font-family: var(--ff-body-regular);
  color: var(--clr-primary-dark);
  font-size: var(--fz-main-p);
}
