.home-stories__wrapper {
  background-color: rgb(19, 159, 214);
}

.home-stories-cloudImg__top {
  top: -1px;
  height: 50vw;
  transform: rotate(180deg);
}

.home-stories-quote {
  margin-top: 0rem;
  margin-bottom: -10rem;
}

.home-stories-quote img {
  z-index: 1;
  width: 100%;
}

.home-stories-quote__open,
.home-stories-quote__close {
  width: 8%;
  z-index: 9;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.home-stories-quote__open {
  margin-bottom: -8%;
}

.home-stories-quote__close {
  margin-top: -8%;
}

.home-stories-quote__close svg {
  transform: rotate(180deg);
}

.home-stories-quote p {
  z-index: 1;
  color: var(--clr-primary-dark);
  font-family: var(--ff-heading-primary-2-italic);
  font-size: calc(var(--fz-main-h2) / 1.3);
}

.home-stories-quote span {
  color: var(--clr-primary-dark);
  font-family: var(--ff-body-regular);
  font-size: var(--fz-main-p);
}

.home-stories-content {
  min-height: 60rem;
  margin-top: -8rem;
}

.home-stories-content h3 {
  color: var(--clr-secondary-500);
  font-family: var(--ff-heading-secondary);
  font-size: var(--fz-main-h1);
  margin-bottom: -1vw;
}

.home-stories__top {
  width: 85%;
}

.home-stories__description {
  font-family: var(--ff-body-light);
  color: var(--clr-primary-dark);
  font-size: var(--fz-main-text);
}

.home-stories__gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: object-position 300ms ease-in-out, filter 300ms ease-in-out;
  padding: 0.3vw;
  border-radius: 1rem;
}

.home-stories__gallery {
  height: 50vh;
  width: 90%;
}

.home-stories-gallery__left,
.home-stories-gallery__right {
  height: 50%;
}

.home-stories-gallery__overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.home-stories__gallery:hover > .home-stories-gallery__overlay {
  opacity: 1;
}

.home-stories__gallery:hover img {
  object-position: bottom right;
}

.home-stories-gallery__button {
  box-shadow: 3px 3px 8px var(--clr-primary-glass);
}

.home-stories-gallery__button:hover {
  box-shadow: 1px 1px 5px var(--clr-primary-glass);
  filter: brightness(90%);
}

@media (min-width: 576px) {
  .home-stories-content {
    margin-top: -12rem;
    min-height: 70rem;
  }
  .home-stories__gallery {
    margin-top: 3rem !important;
    height: 60vh;
    width: 80%;
  }
  .home-stories-quote {
    margin-top: -15rem;
    margin-bottom: -3rem;
  }
}

@media (min-width: 768px) {
  .home-stories-content {
    margin-top: -7rem;
    min-height: 60rem;
  }
  .home-stories__gallery {
    margin-top: 1rem !important;
    width: 90%;
    height: 60vh;
  }
  .home-stories-gallery__left,
  .home-stories-gallery__right {
    height: 100%;
  }
  .home-stories-quote {
    margin-top: 10rem;
    margin-bottom: -10rem;
  }
}

@media (min-width: 992px) {
  .home-stories-content {
    margin-top: -13rem;
    min-height: 75rem;
  }
  .home-stories__gallery {
    width: 90%;
    height: 70vh;
  }
}

@media (min-width: 1200px) {
  .home-stories-content {
    min-height: 85rem;
  }
  .home-stories__gallery {
    width: 85%;
    height: 80vh;
  }
}

@media (min-width: 1400px) {
  .home-stories-content {
    min-height: 180vh;
  }
}
