.m-stats-section {
  background-color: var(--clr-secondary-300);
  min-height: 30rem;
  z-index: 99999;
}

.m-stats-count {
  font-family: var(--ff-heading-primary);
  color: transparent;
  -webkit-text-stroke: 1.5px var(--clr-accent-lights);
  font-size: var(--fz-main-large);
}

.m-stats-section div > span {
  font-family: var(--ff-body-light);
  color: var(--clr-secondary-500);
  font-size: var(--fz-main-p);
}
