.home-services__wrapper {
  background-image: url(../../../assets/images/tim-foster-lSegRSDBMLw-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}

.home-services__overlay {
  background: rgb(161, 161, 161);
  background: linear-gradient(
    0deg,
    rgba(161, 161, 161, 0) 0%,
    rgba(49, 49, 49, 0.425) 30%,
    rgba(31, 31, 31, 0.8) 60%,
    rgba(8, 8, 8, 0.9) 80%,
    rgba(8, 8, 8, 1) 100%
  );
}

.home-services__title {
  font-family: var(--ff-heading-primary);
  color: var(--clr-secondary-100);
  font-size: var(--fz-main-h2);
  letter-spacing: 0.8px;
}

.home-services__card {
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1.3rem;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
}

.home-services-top {
  border-bottom: 1px solid var(--clr-secondary-500);
}

.home-services-card__title {
  display: inline-block;
  width: 85%;
}

.home-services-card__number {
  font-family: var(--ff-heading-primary);
  font-size: var(--fz-main-p);
  color: var(--clr-primary-dark);
  display: inline-block;
  width: 15%;
  border-radius: 0.7rem;
}

.home-services-card__description {
  color: var(--clr-secondary-200);
  font-family: var(--ff-body-light);
  font-size: var(--fz-main-text);
}
