/* DASHBOARD MAIN WRAPPER */
.dashboarUI-main__wrapper {
  background-color: var(--clr-secondary-100);
}

/* DASHBOARD SIDEBAR */
.dashboardUI-side__wrapper {
  background-color: var(--clr-primary-dark-100);
  font-family: var(--ff-body-light);
  z-index: 3;
  position: fixed;
  width: 100%;
  transform: translateX(-110%);
  transition: transform 300ms ease-in-out, width 300ms ease-in-out;
}

.dashboardUI-side__wrapper.isClicked {
  transform: translateX(0%);
  width: 100%;
}

.dashboardUI-main__content {
  width: 100%;
  z-index: 1;
}

.dashboardUI-side__wrapper .dashboardUI-nav__burger {
  margin-bottom: -10rem;
}

.dashboardUI-nav__burger,
.dashboardUI-nav__burger:hover,
.dashboardUI-nav__burger:active {
  z-index: 5;
  background: transparent;
  color: var(--clr-secondary-000);
  border: none;
  outline: none;
}

.dashboardUI-nav__burger i {
  font-size: var(--fz-main-h2);
}

.dashboardUI-side__title {
  border-bottom: 1px solid var(--clr-secondary-500);
}

.dashboardUI-side__title img {
  width: 2rem;
}

.dashboardUI-side__title h3 {
  font-family: var(--ff-heading-primary);
  letter-spacing: 4px;
}

.dashboardUI-side__avatar {
  font-family: var(--ff-body-bold);
  font-size: var(--fz-main-text);
  letter-spacing: 2px;
  background-color: var(--clr-accent-lights);
  color: var(--clr-secondary-100);
  width: 2rem;
  height: 2rem;
  line-height: 0;
}

.dashboardUI-side__username,
.dashboardUI-side__bottom {
  background-color: var(--clr-primary-dark-200);
  color: var(--clr-secondary-100);
  border-radius: 1rem;
  font-size: var(--fz-main-text);
}

.dashboardUI-side__navitem {
  font-size: var(--fz-main-text);
  color: var(--clr-secondary-100);
  cursor: pointer;
  transition: border 200ms ease-in-out, padding 200ms ease-in-out;
}

.dashboardUI-side__navitem:hover {
  border-left: 5px solid var(--clr-secondary-100);
  color: var(--clr-secondary-200);
}

.dashboardUI-side__navitem.active {
  border-left: 5px solid var(--clr-secondary-100);
  padding-left: 0.5rem !important;
}

.dashboardUI-side__bottom > div,
.dashboardUI-side__bottom > div > a {
  background-color: var(--clr-secondary-700);
  color: var(--clr-secondary-100);
  font-size: var(--fz-main-small);
  border-radius: 0.7rem;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
}

.dashboardUI-side__bottom > div:hover,
.dashboardUI-side__bottom > div:has(.active) {
  background-color: var(--clr-secondary-600);
}

/* DASHBOARD TOP NAVIGATION HEADER WRAPPER */
.dashboardUI-top__wrapper {
  background-color: var(--clr-primary-dark-400);
  height: 10vh;
  font-family: var(--ff-body-light);
}

.dashboardUI-top__logout {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: var(--fz-main-h2);
  color: var(--clr-secondary-100);
  cursor: pointer;
}

.dashboardUI-top__logout:hover {
  color: var(--clr-secondary-300);
  background-color: transparent;
  outline: none;
  border: none;
}

.dashboardUI-top__search input {
  font-size: var(--fz-main-small);
}

.dashboardUI-main__btn {
  background-color: var(--clr-primary-dark-100);
  color: var(--clr-secondary-100);
  font-family: var(--ff-body-light);
  font-size: var(--fz-main-small);
  outline: none;
  border: none;
  border-radius: 0.5rem;
}

.dashboardUI-main__btn:hover,
.dashboardUI-main__btn:active {
  background-color: var(--clr-primary-dark-300);
  color: var(--clr-secondary-100);
}

/* DASHBOARD NUMBER CARDS */
.dashboardUI-number__card {
  font-size: var(--fz-main-text);
  font-family: var(--ff-body-light);
  background-color: var(--clr-secondary-100);
  box-shadow: 6px 6px 7px var(--clr-secondary-300),
    -6px -6px 7px var(--clr-secondary-000);
  border-radius: 1.5rem;
  color: var(--clr-primary-dark-100);
}

.dashboardUI-number__card:hover {
  background-color: #e4e8ec;
  color: var(--clr-primary-dark-100);
  box-shadow: 3px 3px 4px var(--clr-secondary-300),
    -3px -3px 4px var(--clr-secondary-000);
}

.dashboardUI-number__card h2 {
  font-size: calc(var(--fz-main-p) * 2.5);
  border-bottom: 0.1px solid var(--clr-secondary-300);
  width: 100%;
}

/* DASHBOARD GENERAL SECTIONS STYLING */
.dashboardUI-sections__wrapper {
  background-color: var(--clr-secondary-100);
  box-shadow: 0px 0px 3px 1px var(--clr-secondary-300),
    -2px -2px 5px 0px var(--clr-secondary-000);
  border-radius: 1.5rem;
  overflow: hidden;
}

.dashboardUI-sections__wrapper > h2 {
  font-size: calc(var(--fz-main-p) * 1.15);
  font-family: var(--ff-body-regular);
  font-weight: 600;
}

.dashboardUI-sections__wrapper > p > span {
  font-size: var(--fz-main-p);
  font-family: var(--ff-body-regular);
  font-weight: 600;
}

.dashboardUI-sections__wrapper input {
  background-color: transparent;
  border: 1px solid var(--clr-primary-dark-100);
  outline: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: var(--fz-main-text);
}

/* DASHBOARD TABLES */
.dashboardUI-table__wrapper {
  border-collapse: collapse;
  font-family: var(--ff-body-light);
  width: 100%;
  margin-bottom: 3rem;
  box-shadow: 0px 0px 2px var(--clr-secondary-300);
  font-size: var(--fz-main-text);
}

.dashboardUI-table__wrapper th {
  background-color: var(--clr-primary-dark-300);
  color: var(--clr-secondary-100);
}

.dashboardUI-table__wrapper th,
.dashboardUI-table__wrapper td {
  border: 1px solid var(--clr-secondary-200);
  padding: 12px 15px;
  white-space: pre-line;
}

.dashboardUI-table__wrapper .dashboardUI-table__status {
  border-radius: 10px;
  border: 0.1px solid var(--clr-secondary-500);
}

.dashboardUI-table__wrapper tr:nth-child(even) {
  background-color: #e4e8ec;
}

.dashboardUI-table__wrapper tr:hover {
  background-color: var(--clr-secondary-200);
  cursor: pointer;
}

.dashboardUI-table__search {
  font-family: var(--ff-body-light);
}

.dashboardUI-table__filter {
  font-family: var(--ff-body-light);
}

.dashboardUI-table__filter select {
  border: none;
  outline: none;
  color: var(--clr-secondary-100);
  background-color: var(--clr-primary-dark-300);
  border-radius: 0.5rem;
}

.dashboardUI-table__pagination {
  font-family: var(--ff-body-light);
}

.dashboardUI-table__pagination button,
.dashboardUI-table__pagination select {
  width: 7rem;
  outline: none;
  border: none;
  background-color: var(--clr-primary-dark-300);
  color: var(--clr-secondary-100);
  border-radius: 0.5rem;
}

.dashboardUI-table__pagination button:hover {
  background-color: var(--clr-primary-dark-500);
}

.dashboardUI-table__pagination button:disabled {
  background-color: var(--clr-primary-dark-400);
}

/* BOOKING INFO ON CARD CLICK */
.dashboardUI-booking__wrapper {
  font-family: var(--ff-body-light);
  border-bottom: 1px solid var(--clr-secondary-300);
}

.dashboardUI-booking__wrapper h3 {
  font-family: var(--ff-body-bold);
  font-size: var(--fz-main-p);
}

.dashboardUI-booking__wrapper > div > div {
  border: 1px solid var(--clr-secondary-500);
  border-radius: 1rem;
  padding: 1rem;
}
.dashboardUI-booking__wrapper span {
  font-family: var(--ff-body-regular);
  font-weight: bold;
}

.dashboardUI-booking__btn button {
  border: none;
  outline: none;
  font-size: var(--fz-main-text);
  border-radius: 1rem;
}

.dashboardUI-booking__btn button:nth-child(1) {
  background-color: var(--clr-secondary-200);
  box-shadow: 3px 3px 5px var(--clr-primary-dark-500),
    -3px -3px 5px var(--clr-secondary-100);
}

.dashboardUI-booking__btn button:nth-child(1):hover {
  background-color: var(--clr-secondary-300);
}

.dashboardUI-booking__btn button:nth-child(2) {
  color: var(--clr-secondary-100);
  background-color: var(--clr-primary-dark-300);
  box-shadow: 3px 3px 5px var(--clr-primary-dark-500),
    -3px -3px 5px var(--clr-secondary-300);
}

.dashboardUI-booking__btn button:nth-child(2):hover {
  background-color: var(--clr-primary-dark-400);
}

.dashboardUI-booking__msg {
  background-color: var(--clr-secondary-200);
  border-radius: 1rem;
}

/* DASHBOARD MEDIA QUERIES */
@media (min-width: 768px) {
  .dashboardUI-main__content {
    width: 75%;
  }
  .dashboardUI-side__wrapper {
    position: sticky;
    width: 25% !important;
    transform: translateX(0);
  }
  .dashboardUI-top__logout {
    font-size: var(--fz-main-p);
  }
  .dashboardUI-side__title img {
    width: 3rem;
  }
  .dashboardUI-side__avatar {
    width: 3rem;
    height: 3rem;
  }
}

@media (min-width: 992px) {
  .dashboardUI-side__wrapper {
    width: 20% !important;
  }
  .dashboardUI-main__content {
    width: 80%;
  }
}
