.footer-section-mid-info__title {
  font-family: var(--ff-heading-primary);
  font-size: var(--fz--header-sub);
  letter-spacing: calc(var(--fz--header-sub) / 3);
}

.footer-section-mid-info__details,
.footer-section-mid-info__details p {
  color: var(--clr-secondary-200);
  font-family: var(--ff-body-regular);
  font-size: var(--fz-main-small);
}

.footer-section-mid-info__social li,
.footer-section-mid-info__social li a {
  list-style: none;
  font-size: var(--fz-main-h3);
}

.footer-section-mid-info__social li a:hover {
  opacity: 0.7;
}

.footer-section-mid__navigation li,
.footer-section-mid__navigation li a {
  list-style: none;
  color: var(--clr-secondary-400);
  font-family: var(--ff-body-regular);
  font-size: var(--fz-main-small);
  text-decoration: none;
  margin-bottom: 0.4rem;
}

.footer-section-mid__navigation li a:hover {
  color: var(--clr-secondary-500);
}

.footer-about__title {
  color: var(--clr-secondary-200);
  font-size: var(--fz-main-p);
  font-family: var(--ff-body-regular);
}

.footer-about__description {
  color: var(--clr-secondary-400);
  font-size: var(--fz-main-small);
  font-family: var(--ff-body-regular);
}
