.footer-container {
  margin: 0;
  padding: 0;
  background-color: var(--clr-primary-dark-100);
  backdrop-filter: blur(0px);
  background-image: url(/src/assets/images/grain.png);
}

.footer-talk {
  margin: 1rem 0rem;
  /* padding: 2.5rem 5rem; */
  text-align: center;
  border: 1px solid 175555;
  border-radius: 2rem;
  background-color: var(--clr-secondary-700);
  width: 90%;
  box-shadow: 5px 5px 10px var(--clr-primary-dark);
}

.footer-help {
  font-family: var(--ff-body-light);
  color: var(--clr-secondary-200);
  font-size: var(--fz-main-h2);
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding: 1rem;
}

.footer-copyright {
  padding: 0.5rem 0rem;
  text-align: center;
  font-family: var(--ff-body-light);
  color: var(--clr-primary-dark);
  font-size: 0.8rem;
  background-color: rgba(199, 199, 199, 0.63);
}

.cta-light {
  transition: background-color 100ms ease-in-out, box-shadow 400ms ease-in-out;
  font-family: var(--ff-body-light);
  color: var(--clr-primary-dark);
  font-size: var(--fz-main-text);
  background-color: var(--clr-accent-lights-100);
  letter-spacing: 1px;
  padding: 0.8rem 4rem;
  border: none;
  outline: none;
}

.cta-light:hover,
.cta-light:active {
  background-color: var(--clr-accent-lights);
}
