.footer-section__wrapper {
  margin: 0;
  padding: 0;
  background-color: var(--clr-primary-dark-100);
  backdrop-filter: blur(0px);
  background-image: url(../../assets/images/grain.png);
}

.footer-section__top {
  text-align: center;
  border-radius: 2rem;
  background-color: var(--clr-primary-dark-100);
  background-image: url(../../assets/images/grain.png);
  box-shadow: 5px 5px 20px var(--clr-primary-dark),
    -5px -5px 10px var(--clr-primary-dark-400);
}

.footer-section-top__text {
  color: var(--clr-secondary-100);
  font-family: var(--ff-body-light);
  font-size: var(--fz-main-text);
}

.cta-dark.footer-talk__btn {
  color: var(--clr-primary-dark);
  box-shadow: 3px 3px 10px var(--clr-primary-dark);
  font-family: var(--ff-body-regular);
  font-size: var(--fz-main-text);
}

.cta-dark.footer-talk__btn:hover,
.cta-dark.footer-talk__btn:active {
  opacity: 0.7;
  box-shadow: 0px 0px 5px var(--clr-primary-dark);
}

.footer-section__bottom,
.footer-section__bottom a {
  font-family: var(--ff-body-light);
  color: var(--clr-secondary-100);
  font-size: var(--fz-main-small);
  background-color: var(--clr-secondary-700);
  text-decoration: none;
}
