.agentStatuses-cards {
    box-shadow: 1px 2px 5px var(--clr-secondary-400);
    transition: box-shadow .4s, transform .4s;
}

.agentStatuses-cards:hover {
    box-shadow: 2px 3px 15px var(--clr-secondary-400);
    transform: translateY(-1px);
}

.agentStatuses-cards__span {
    font-family: var(--ff-heading-primary-2-italic);
}

/* For AgentWaitlist */

.agentWaitlist-cards__btn {
    transition: background-color 100ms ease-in-out, box-shadow 400ms ease-in-out;
    font-family: var(--ff-body-light);
    color: var(--clr-secondary-100);
    font-size: var(--fz-main-text);
    background-color: var(--clr-accent-water);
    letter-spacing: 1px;
    padding: 0.8rem 1.5rem;
    border: none;
    outline: none;
}

.agentWaitlist-cards__btn:hover, .agentWaitlist-cards__btn:active {
    color: var(--clr-secondary-100);
    background-color: var(--clr-accent-water-100);
}

/* For AgentTentative */

/* For AgentConfirmed */

.agentConfirmed-cards__btn {
    transition: background-color 100ms ease-in-out, box-shadow 400ms ease-in-out;
    font-family: var(--ff-body-light);
    color: var(--clr-secondary-100);
    font-size: var(--fz-main-text);
    background-color: var(--clr-accent-culture);
    letter-spacing: 1px;
    padding: 0.8rem 1.5rem;
    border: none;
    outline: none;
}

.agentConfirmed-cards__btn:hover, .agentConfirmed-cards__btn:active {
    color: var(--clr-secondary-100);
    background-color: var(--clr-accent-culture-100);
}

/* For AgentCancelled */

.agentCancelled-cards__btn {
    transition: background-color 100ms ease-in-out, box-shadow 400ms ease-in-out;
    font-family: var(--ff-body-light);
    color: var(--clr-secondary-100);
    font-size: var(--fz-main-text);
    background-color: var(--clr-accent-lights);
    letter-spacing: 1px;
    padding: 0.8rem 1.5rem;
    border: none;
    outline: none;
}

.agentCancelled-cards__btn:hover, .agentCancelled-cards__btn:active {
    color: var(--clr-secondary-100);
    background-color: var(--clr-accent-lights-100);
}

/* For Statuses Modal */

.agent-statuses__modal {
    display: block;
    background-color: rgba(0,0,0,0.8);
}
