.home-testimonials-wrapper {
  background-color: var(--clr-secondary-000);
}

.gallery {
  overflow-x: scroll;
}

.image-container {
  border: 5px solid var(--clr-accent-lights-100);
  transform: translate(-50%, -50%);
}

.image-container img {
  width: clamp(4rem, 6vw, 5rem);
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
  object-fit: cover;
}

.card-holder {
  width: 90%;
  height: 70%;
  /* max-width: 350px; */
  background-color: var(--clr-secondary-100);
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
  flex-shrink: 0;
  border-radius: 1rem;
}

.description {
  font-family: var(--ff-body-light) !important;
  font-size: var(--fz-main-text) !important;
}



::-webkit-scrollbar {
  width: 0px;
}

.container {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  padding: 20px 0;
}

.card {
  border: none;
  flex-shrink: 0;
  width: 450px;
  height: 400px;
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 70px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
