.home-testimonials-wrapper {
  background-color: var(--clr-secondary-000);
}

.gallery {
  overflow-x: scroll;
}

.image-container {
  border: 5px solid var(--clr-accent-lights-100);
  transform: translate(-50%, -50%);
}

.image-container img {
  width: clamp(3rem, 6vw, 5rem);
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
  object-fit: cover;
}

.card-holder {
  width: 80%;
  max-width: 350px;
  background-color: var(--clr-secondary-100);
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
  flex-shrink: 0;
  border-radius: 1rem;
}

.description {
  font-family: var(--ff-body-light) !important;
  font-size: var(--fz-main-text) !important;
}
