.agentTopNav-search__input {
    border: none;
    border-bottom: 2px solid #999;
    transition: all .4s;
}

.agentTopNav-search__input:focus {
    box-shadow: none;
    border-bottom: 2px solid #5e5e5e;
}

.agentTopNav-search__button {
    transition: all .4s;
}

.agentTopNav-search__button:hover {
    background-color: #eee;
    transform: translateY(-1px);
}

@media (max-width: 992px) {
    .agentTopNav {
        position: static;
    }
}