.admin-cards__section {
  border-radius: 1rem;
  box-shadow: -2px -2px 5px var(--clr-secondary-000),
    2px 2px 5px var(--clr-secondary-500);
  transition: box-shadow 0.4s, transform 0.4s;
}

.admin-cards__section:hover {
  box-shadow: 2px 2px 8px var(--clr-secondary-500);
  transform: translateY(-1px);
}
