/* For AgentsTable */

.admin-agents__table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.admin-agents__table td,
.admin-agents__table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.admin-agents__table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.admin-agents__table tr:hover {
  background-color: #ddd;
  cursor: pointer;
}

.admin-agents__table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

.agent-cell__orange {
  background-color: orangered;
}

/* For AgentsGlobalFiltering */

.adminAgent-filter__span {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

.adminAgent-filter__search {
  font-weight: bold;
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 10px;
  font-family: var(--ff-body-regular);
}

.adminAgent-filter__input {
  font-family: var(--ff-body-regular);
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  transition: border-color 0.2s ease-in-out;
}

.adminAgent-filter__input:focus,
.adminAgent-filter__input:hover {
  border-color: #888;
  outline: none;
}

/* For Agents Pagination */

.agents-table__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 14px;
}

.agents-pagination__whatPage {
  margin-right: 10px;
}

.agents-pagination__numberPage {
  font-weight: bold;
}

.agents-pagination__button {
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 3px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
}

.agents-pagination__button:hover {
  background-color: #eee;
}

.agents-pagination__button:disabled {
  background-color: #ccc;
  cursor: default;
  color: #666;
}
