/* SIGN UP MODAL STARTS HERE*/
.formUI-modal__wrapper .modal-title {
  font-size: var(--fz-main-p);
  font-family: var(--ff-body-bold);
  text-transform: uppercase;
}

.signUpCreateLink {
  color: var(--clr-secondary-100);
  font-size: var(--fz-main-small);
  font-family: var(--ff-body-regular);
}

.signUpCreateLink a {
  text-decoration: none;
}

.signUpCreateLink a:hover,
.signUpCreateLink a:active {
  filter: brightness(80%);
}

.formUI-modal__wrapper.modal-content h3 {
  color: var(--clr-secondary-100);
  font-size: var(--fz-main-text);
  font-family: var(--ff-body-regular);
}

.formUI-modal__wrapper.modal-content h3 span {
  margin-right: 0.4rem;
  text-transform: uppercase;
}

.formUI-modal__wrapper.modal-content label,
.formUI-modal__wrapper.modal-content .form-control {
  font-size: var(--fz-main-text);
  font-family: var(--ff-body-light);
  background-color: transparent;
  color: var(--clr-secondary-100);
}

.formUI-modal__wrapper .form-control:focus {
  border: 1px solid var(--clr-secondary-300);
  outline: 1px solid var(--clr-secondary-300);
  box-shadow: 0 0 5px var(--clr-secondary-000);
  background-color: rgba(0, 0, 0, 0.3);
}

.formUI-modal__wrapper .form-control.isValid {
  border-color: var(--clr-accent-valid-100);
  box-shadow: 0 0 5px var(--clr-accent-valid);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.formUI-modal__wrapper .form-control.isInvalid {
  border-color: var(--clr-accent-invalid-100);
  box-shadow: 0 0 5px var(--clr-accent-invalid);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.formUI-modal__wrapper .form-control.isInvalid ~ .invalid-feedback {
  display: block;
}

.invalid-feedback {
  font-size: var(--fz-main-text);
  font-family: var(--ff-body-regular);
}

.formUI-modal__wrapper.modal-content {
  background-color: var(--clr-primary-glass);
  background-image: url(../../assets/images/grain.png);
  backdrop-filter: blur(10px);
  border-radius: 1rem;
}

.modal-header,
.modal-footer {
  border: none;
}

.modal-header__errorMsg {
  color: var(--clr-secondary-100);
  font-size: var(--fz--main-text) !important;
}

.formUI-modal__wrapper.modal-content button,
.formUI-modal__wrapper.modal-content button:hover,
.formUI-modal__wrapper.modal-content button:active {
  font-family: var(--ff-body-regular);
  font-size: var(--fz-main-small);
  text-transform: uppercase;
  outline: none !important;
  border: none !important;
}

.formUI-modal__wrapper.modal-content input:-internal-autofill-selected ~ label {
  color: fieldtext !important;
}

.modal-signup-btn {
  color: var(--clr-primary-dark);
  border-radius: 0.7rem;
  transition: filter 300ms ease-in-out;
}

.modal-signup-btn:hover,
.modal-signup-btn:active,
.modal-signup-btn:focus-visible {
  filter: brightness(70%);
}

.modal-cancel-btn {
  color: var(--clr-secondary-100);
  transition: color 300ms ease-in-out;
}

.modal-cancel-btn:hover,
.modal-cancel-btn:active,
.modal-cancel-btn:focus-visible {
  color: var(--clr-secondary-500) !important;
}

.forgot-password {
  color: var(--clr-secondary-200);
  font-size: var(--fz-main-small);
  font-family: var(--ff-body-regular);
  text-decoration: none;
}

.forgot-password:hover {
  color: var(--clr-secondary-400);
}

.signUpForm-seePass {
  border-radius: 50%;
  top: calc((3.5rem + 2px) / 2);
  height: 20px;
  position: absolute;
  right: 15px;
  width: 20px;
  transform: translate(0%, -50%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: invert(100%);
}

.formUI-modal__wrapper .form-control.isInvalid ~ .signUpForm-seePass,
.formUI-modal__wrapper .form-control.isValid ~ .signUpForm-seePass {
  right: 30px;
}
