/* HEADER STARTS HERE */
.h-header-wrapper {
    background-color: transparent;
    backdrop-filter: blur(0px);
    z-index: 10;
    height: 10vh;
    transform: translateY(0);
    transition: background-color 500ms ease-in-out, height 500ms ease-in-out, transform 500ms ease-in-out;
}

.h-header-wrapper .navbar.row {
    height: 10vh;
}

.h-header-title span {
    transform: translate(-50%, -50%);
    opacity: 0;
    color: var(--clr-accent-lights-100);
    font-family: var(--ff-heading-primary);
    font-size: var(--fz--header-sub);
    letter-spacing: calc(var(--fz--header-sub) / 3);
    transition: opacity 400ms ease-in-out;
}

.h-header-wrapper.h-active .h-header-title span {
    opacity: 0.9;
}

.h-header-title h2 {
    transform: translate(-50%, -50%);
    color: var(--clr-secondary-100);
    font-family: var(--ff-body-regular);
    font-size: var(--fz--header-title);
    letter-spacing: calc(var(--fz--header-title) / 2);
    word-spacing: calc(var(--fz--header-title) / 2);
    transition: transform 400ms ease-in-out, color 400ms ease-in-out;
}

.h-header-wrapper.h-active .h-header-title h2 {
    transform: translate(-50%, calc(-50% + 50px));
    color: var(--clr-secondary-400);
}

/* Modal Button */
.h-btn-signUp {
    font-family: var(--ff-body-regular);
    font-size: var(--fz--header-title);
    letter-spacing: 0.1rem;
    color: var(--clr-secondary-100);
    border: 0.05rem solid var(--clr-secondary-100);
    transition: background-color 300ms ease-in-out;
}

.h-btn-signUp::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--clr-secondary-100);
    width: 0;
    height: 100%;
    border-radius: 1rem;
    z-index: -1;
    transition: width 300ms ease-in-out;
}

.h-btn-signUp:hover::before {
    width: 100%;
}

.h-btn-signUp:hover,
.h-btn-signUp:active {
    font-family: var(--ff-body-regular);
    font-size: var(--fz--header-title);
    color: var(--clr-primary-dark);
    border: 0.05rem solid var(--clr-secondary-100) !important;
}

/* Hamburger Icon */
.h-ham-container .h-btn-ham {
    width: 3rem;
    height: 50px;
    cursor: pointer;
}

.h-ham-container .h-btn-ham span {
    transform: translate(-50%, -50%);
    width: 100%;
    height: 0.1rem;
    background: var(--clr-secondary-100);
    transition: width 500ms ease-out, transform 500ms ease-out;
}

.h-ham-container .h-btn-ham span:nth-child(1) {
    width: 70%;
    top: 40%;
}

.h-ham-container .h-btn-ham span:nth-child(2) {
    top: 60%;
}

/* Inside Menu before click */
.h-header-wrapper .h-nav-container {
    display: none;
    height: 90vh;
}

/* On Button Click */
/* disable scroll on body */
.h-disable-scroll {
    overflow: hidden;
}

.h-header-wrapper.h-active {
    height: 100vh;
    background-attachment: fixed;
    background-repeat: repeat;
}

.h-header-wrapper.h-active .h-btn-ham span:nth-child(1) {
    width: 85%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.h-header-wrapper.h-active .h-btn-ham span:nth-child(2) {
    width: 85%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* Header menu (home, contact, about, sign up) */
.h-nav-list {
    list-style: none;
    border: 0.1rem solid var(--clr-secondary-700);
    opacity: 0;
    animation: fade-in 400ms ease-in-out 400ms forwards;
}

.h-nav-list a {
    font-family: var(--ff-heading-primary);
    font-size: var(--fz--header-menu);
    color: inherit;
}

.h-nav-list li {
    color: var(--clr-secondary-100);
    transition: color 400ms ease-in-out, transform 400ms ease-in-out, letter-spacing 300ms ease-in-out;
}

.h-nav-list a::before {
    content: "";
    position: absolute;
    bottom: -10%;
    background-color: var(--clr-secondary-100);
    width: 0;
    height: 0.3rem;
    transition: width 300ms ease-in-out;
}

.h-nav-list a:hover::before {
    width: 100%;
}

.h-nav-list li:hover {
    transform: scale(1.05);
}

.h-nav-list li:hover~li,
.h-nav-list li:has(~ li:hover) {
    color: var(--clr-secondary-700);
}

/* image preview parent element */
.h-preview-image-sub {
    opacity: 0;
    animation: fade-in 400ms ease-in-out 400ms forwards;
}

.h-preview-image {
    height: 0;
    border-top: 0.001rem solid var(--clr-secondary-700);
    background-color: var(--clr-primary-dark);
    background-image:url();
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    transition-property: height, background-position;
    transition-duration: 500ms, 3000ms;
    transition-timing-function: ease-out, ease-out;
    transition-delay: 0, 400ms;
}

/* image preview */
.h-preview-image-title {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    font-family: var(--ff-body-bold);
    color: var(--clr-secondary-400);
    font-size: 5vw;
    animation: expand 400ms ease-in-out forwards 700ms;
}

/* "Explore" */
.hPreviewImageTitle-top {
    font-family: var(--ff-body-bold);
    color: var(--clr-secondary-400);
    font-size: var(--fz--header-cat-title);
    text-shadow: none;
    opacity: 0;
    transform: scale(0.7);
    animation: zoom-in 400ms ease-in-out 400ms forwards;
}

/* "hover items below to preview */
.hPreviewImageDesc {
    top: -5%;
    transform: translate(-50%, -50%);
    font-family: var(--ff-body-light);
    color: var(--clr-secondary-400);
    font-size: var(--fz--header-title);
    text-shadow: 0 0 0.3rem var(--clr-primary-dark);
    letter-spacing: calc(var(--fz--header-title) / 2);
}

/* categories nav menu */
.h-categories-list {
    list-style: none;
    color: var(--clr-secondary-400);
}

.h-categories-list a {
    font-family: var(--ff-heading-primary);
    font-size: var(--fz--header-cat-list);
    color: inherit;
}

.h-categories-list li {
    opacity: 0;
    transform: translateY(5rem);
    transition: color 300ms ease-in-out, text-shadow 300ms ease-in-out;
}

.h-categories-list li:nth-child(1) {
    animation: fade-up 400ms ease-in-out 600ms forwards;
}

.h-categories-list li:nth-child(1):hover {
    color: var(--clr-accent-lights-100);
    text-shadow: 0 0 1rem var(--clr-accent-lights);
}

.h-categories-list li:nth-child(2) {
    animation: fade-up 400ms ease-in-out 700ms forwards;
}

.h-categories-list li:nth-child(2):hover {
    color: var(--clr-accent-water-100);
    text-shadow: 0 0 1rem var(--clr-accent-water);
}

.h-categories-list li:nth-child(3) {
    animation: fade-up 400ms ease-in-out 800ms forwards;
}

.h-categories-list li:nth-child(3):hover {
    color: var(--clr-accent-summit-100);
    text-shadow: 0 0 1rem var(--clr-accent-summit);
}

.h-categories-list li:nth-child(4) {
    animation: fade-up 400ms ease-in-out 900ms forwards;
}

.h-categories-list li:nth-child(4):hover {
    color: var(--clr-accent-history-100);
    text-shadow: 0 0 1rem var(--clr-accent-history);
}

.h-categories-list li:nth-child(5) {
    animation: fade-up 400ms ease-in-out 1000ms forwards;
}

.h-categories-list li:nth-child(5):hover {
    color: var(--clr-accent-culture-100);
    text-shadow: 0 0 1rem var(--clr-accent-culture);
}