.agentSidebarWaitlistNav-cards {
    box-shadow: 1px 2px 5px #999;
    transition: all .4s;
}

.agentSidebarWaitlistNav-cards:hover {
    box-shadow: 2px 3px 15px #999;
    transform: translateY(-1px);
}

.agentSidebarWaitlistNav-cards__span {
    font-family: var(--ff-heading-primary-2-italic);
}

.agentSidebarWaitlistNav-cards__btn {
    transition: background-color 100ms ease-in-out, box-shadow 400ms ease-in-out;
    font-family: var(--ff-body-light);
    color: var(--clr-secondary-100);
    font-size: var(--fz-main-text);
    background-color: var(--clr-accent-water);
    letter-spacing: 1px;
    padding: 0.8rem 1.5rem;
    border: none;
    outline: none;
}

.agentSidebarWaitlistNav-cards__btn:hover, .agentSidebarWaitlistNav-cards__btn:active {
    color: var(--clr-secondary-100);
    background-color: var(--clr-accent-water-100);
}