.m-hero-section {
  padding-top: 10vh;
  overflow: hidden;
  background: linear-gradient(
      0deg,
      rgba(8, 8, 8, 1) 0%,
      rgba(161, 161, 161, 0) 100%
    ),
    url(../../../assets/images/grain.png);
}

.m-hero-bg {
  z-index: -1;
  object-fit: cover;
  transition: opacity 500ms ease-in-out;
}

/* hero section left */
.home-hero-text {
  transition: transform 1000ms ease-in-out, opacity 1000ms ease-in-out;
}

.home-hero-text h1 {
  color: var(--clr-secondary-100);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6), 0 0 20px var(--clr-secondary-400);
  font-family: var(--ff-heading-primary);
  font-size: var(--fz-main-h1);
}

.home-hero-text h2 {
  font-family: var(--ff-heading-secondary);
  font-size: var(--fz-main-secondary);
  margin-top: -1vw;
}

.home-hero-text p {
  color: var(--clr-secondary-200);
  text-shadow: 0 0 10px var(--clr-primary-dark);
  font-size: var(--fz-main-text);
  font-family: var(--ff-body-light);
  line-height: 1.7;
}

.home-hero-text a {
  transition: background-color 400ms ease-in-out, box-shadow 400ms ease-in-out;
  font-family: var(--ff-body-regular);
  letter-spacing: 1px;
  color: var(--clr-primary-dark);
  font-size: var(--fz-main-small);
  border: none;
  outline: none;
}

.home-hero-text a:hover,
.home-hero-text a:active {
  background-color: var(--clr-accent-lights);
  box-shadow: 0 0 20px var(--clr-accent-lights);
}

.m-hero-thumb {
  box-shadow: 0 0 10px var(--clr-primary-dark);
  transition: transform 1000ms ease-in-out, box-shadow 400ms ease-in-out,
    border 200ms ease-in-out;
  cursor: pointer;
}

.m-hero-thumb:hover {
  box-shadow: 0 0 20px -5px var(--clr-secondary-100);
  transform: scale(1.1);
}

.home-hero-menu-description {
  font-family: var(--ff-body-light);
  letter-spacing: 2px;
  transition: transform 400ms ease-in-out;
  font-size: var(--fz-main-small);
}

.m-hero-circle {
  top: 100%;
  left: 100%;
  width: 65vw;
  height: 65vw;
  transform: translate(-50%, -50%) rotate(15deg);
  transition: transform 1000ms ease-in-out, opacity 1000ms ease-in-out;
}

.m-hero-circle-sub {
  width: 27vw;
  height: 27vw;
  box-shadow: 0 0 20px var(--clr-primary-dark);
  transition: transform 1000ms ease-in-out, box-shadow 1000ms ease-in-out;
}

.m-hero-circle-image {
  object-fit: cover;
  height: 100%;
  transform: rotate(-15deg);
}

.m-hero-circle-overlay {
  transform: rotate(-15deg);
  background-color: rgba(0, 0, 0, 0.3);
  transition: opacity 300ms ease-in-out;
  opacity: 0;
}

.m-hero-circle-sub:hover > .m-hero-circle-overlay {
  opacity: 1;
}

#circleImage2Sub {
  top: 0;
  left: 50%;
}

#circleImage1Sub {
  top: 25%;
  left: 6.6987%;
}

#circleImage3Sub {
  top: 25%;
  left: calc(100% - 6.6987%);
}

#circleImage6Sub {
  top: 75%;
  left: 6.6987%;
}

#circleImage4Sub {
  top: 75%;
  left: calc(100% - 6.6987%);
}

#circleImage5Sub {
  top: 100%;
  left: 50%;
}

.m-circle-text {
  right: 2rem;
  bottom: 1rem;
  font-family: var(--ff-body-regular);
  transition: opacity 1000ms ease-in-out;
  font-size: var(--fz-main-p);
  width: 17vw;
  height: 10vw;
}
