.testingArea-bg {
  background-color: var(--clr-primary-dark-100);
}

.testingArea-wrapper button {
  max-width: 20rem;
  width: 100%;
}

.testingArea-wrapper {
  background-color: var(--clr-secondary-700);
  width: fit-content;
  border-radius: 3rem;
  margin-top: 5vh;
}
