.contact-page__container {
  z-index: 5;
  padding-top: 12vh;
}

.contact-form__container .form-control.isValid {
  border-color: var(--clr-accent-valid-100);
  box-shadow: 0 0 5px var(--clr-accent-valid);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.contact-form__container .form-control.isInvalid {
  border-color: var(--clr-accent-invalid-100);
  box-shadow: 0 0 5px var(--clr-accent-invalid);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.contact-form__container .form-control.isInvalid ~ .invalid-feedback {
  display: block;
}

.contact-form__container .invalid-feedback {
  font-size: var(--fz-main-text);
  font-family: var(--ff-body-regular);
}
