.contact-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 1rem;
  align-items: center;
  z-index: 5;
}

.contact-body {
  display: flex;
}

.contact-container__details {
  width: 50vw;
  height: 35rem;
  align-items: center;
}

.contact-container__form {
  width: 50vw;
  height: 35rem;
  align-items: start;
}

@media (max-width: 768px) {
  .contact-container {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
  }

  .contact-body {
    display: flex;
    flex-direction: column;
  }

  .contact-container__details {
    width: 100vw;
    height: auto;
    text-align: center;
    align-items: center;
  }

  .contact-container__form {
    width: 100vw;
    height: auto;
  }
}
