.agentSidebar-brand__name {
  font-family: var(--ff-heading-primary-2-bold);
}

.agentSidebar {
  height: 100%;
  background-color: var(--clr-primary-dark);
  backdrop-filter: blur(2px);
  background-image: url(../../../assets/images/grain.png);
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
}

.agentSidebar-bottom__border {
  border-bottom: 1px groove var(--clr-secondary-100);
}

.agentSidebar-navItem {
  transition: transform 0.4s background-color 0.4s;
}

.agentSidebar-navItem:hover,
.agentSidebar-navItem:focus {
  background-color: var(--clr-secondary-500);
  border-radius: 5px;
  transform: translateY(-1px);
}

.admin-sidebar__settingsAndAccount {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.admin-sidebar__settingsAndAccount i {
  color: var(--clr-secondary-500);
}

@media (max-width: 992px) {
  .agentSidebar {
    position: static;
    height: auto;
  }
}

@media (max-width: 992px) {
  .agentTopNav {
    position: static;
  }
}
